<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"></div>
  <h1>
    Welcome to {{title}}
  </h1>
 <!--<app-product></app-product>
 <app-my-new-component></app-my-new-component>
 <app-compo-for16-nov></app-compo-for16-nov>

 <app-parentcomponent></app-parentcomponent>

  <app-childcomponent></app-childcomponent>

  <app-compo-for16-nov></app-compo-for16-nov>

  <app-prod-duplicatecomponent></app-prod-duplicatecomponent>

  <app-employee-component></app-employee-component>-->
  <app-firebase></app-firebase>

